
h1 {
font-family: 'Pacifico', cursive;
font-size:3em;
}

h2{
font-family: 'Pacifico', cursive;
}

h3 {font-family: 'Lobster', cursive;}
ul {font-family: Arial;
}

.page1 {
background-color:#deeeea;
color:#bf1363;
text-align:center;
padding:0px 0px 0 0px;
height:100%;
font-size:30px;
}

.page2 {
background-color:#d5dbb3;
text-align:center;
padding:25px 50px 25px 100px;
margin:0;
}

.page3 {
background-color:#39a6a3;
text-align:center;
margin:0;
padding:25px 50px 25px 100px;
}

.cloud-bottom {
position:relative;
bottom: 150px;
left: 250px;
}
.cloud-top {
position:relative;
right: 250px;
top: 100px;
}

#Imphoto { border-radius: 100px;
}
